* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    cursor: url(./assets/cursor_default.png), default;
    font-weight: 400px;
}


/*cabecalho*/
header {
    font-family: 'Lily Script One';
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
 
    
}

nav{

    background-color: #1e1e1e;
    padding: 25px 0;
}

li{
    display: inline;
    text-align: center;
    padding: 0 150px;
    cursor: url(./assets/cursor_pointer.png), pointer;
    
}


#disney{
    padding: 0;
    width: 100%;
}


/*corpo*/
main{
    margin: 64px 138px 157px 0;
    text-align: center;

    
}
.cartaz{
 padding: 55px 0 55px 0;
}

.cartaz .movies{
    height: 513px;
    width: 353px;
    margin: 0 55px 115px 55px;
    cursor: url(./assets/cursor_pointer.png), pointer;
}


/*rodapé*/
footer {
    display: inline-block;
    width: 100%;
    color: #FFFFFF;
    justify-content: center;
    position: absolute;
    text-align: center;
}


footer:hover{
    cursor: url(./assets/cursor_default.png),default;
}


.link p {

    margin: 0;
    display: inline-block;
    text-align: start;
    vertical-align: middle; 
    font-style: italic;
    font-size: 25px;
    width: 45%;
    padding: 10px 0;
}

.link a {
 
    display: inline-block;
    justify-content: center;
    vertical-align: middle; 
    width: 5%;
    padding: 10px 0;
  
   
}

.linkImage{
    display:inline-block;
    height: 78px;
    cursor: url(./assets/cursor_pointer.png), pointer;
}

.linkImage:hover{
    cursor: url(./assets/cursor_pointer.png), pointer;
}